{{> head }}

{{>navbar}}

<div class="row">

    <div class="col-8">
        <h1>STALIN WOULD BE PROUD</h1>
        <p>
            Meeeeeeeeeeeeeeeeeme.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/stalinball.png" class="img-thumbnail">
    </div>

</div>

{{>footer}}